html,
body {
    width: 100%;
    height: 100%;
}

/*body {
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
    font-family: 'Anonymous Pro', monospace;
}

#typed-name {
  margin-left: -1.4rem;
}

.list-header {
  padding-top: 1rem;
}

/* ------------ COLORS ---------- */
.skurt-color {
  background-color: #59469C;
}

.uber-color {
  background-color: #000000;
}

.cmu-color {
  background-color: #B90610;
}

.autolab-color {
  background-color: #9F1F28;
}

/* ------------------------------ */
