html,
body {
    width: 100%;
    height: 100%;
}

/*body {
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
    font-family: 'Anonymous Pro', monospace;
}

#typed-name {
  margin-left: -1.4rem;
}
/* ----------- List Sizing ------ */
.list-header {
  display: none;
  padding-top: 1rem;
}

/* ------------ COLORS ---------- */
.skurt-color {
  background-color: #59469C;
}

.uber-color {
  background-color: #000000;
}

.cmu-color {
  background-color: #B90610;
}

.autolab-color {
  background-color: #9F1F28;
}

.amazon-color {
  background-color: #FF9900;
  font-size: 70%;
}

.instagram-color {
  background:

   linear-gradient( #400080, transparent),

 linear-gradient(
   200deg, #d047d1, #ff0000,    #ffff00);
}

/* ------------------------------ */
