html,
body {
    width: 100%;
    height: 100%;
}
body {
  padding-top: 3.5rem;
}


@media screen and (max-width: 992px) {
  body {
    padding-top: 0rem;
  }
}

@media screen and (max-width: 650px) {
  body {
    padding-top: 0rem;
  }
}

/*body {
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
    font-family: 'Anonymous Pro', monospace;
}

#typed-name {
  margin-left: -1.4rem;
}

.fadein {
  display: none;
}

.badge:hover {
  color: white;
  text-decoration: underline;
}

h5 {
  font-weight: bold;
  font-size: 1.25rem;
}
li {
  font-size: 1rem;
}
@media screen and (max-width: 650px) {
  li {
    font-size: 0.9rem;
  }
  h5 {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

/* ------- Snapcode Modal ------ */
.snapcode {
  width: 100%;
}
#snapchat .modal-content  {
    -webkit-border-radius: 5.3rem !important;
    -moz-border-radius: 5.3rem !important;
    border-radius: 5.3rem !important;
    padding: 0rem;
}
 #snapchat .modal-body {
    padding: 0rem;
}

/* ----------- List Sizing ------ */
.list-header {
  padding-top: 1.5rem;
}

.social-icons {
  margin-top: 1rem;
}

/* ------------ COLORS ---------- */
.shield-color {
  background-color: #1C7BBC;
}

.scale-color {
  background-color: #C543E2;
}

.mongo-color {
  background-color: #71B74E;
}

.fair-color {
  background-color: #FC5A20;
}

.skurt-color {
  background-color: #59469C;
}

.uber-color {
  background-color: #000000;
}

.cmu-color {
  background-color: #B90610;
}

.autolab-color {
  background-color: #9F1F28;
}

.amazon-color {
  background-color: #FF9900;
  font-size: 70%;
}

.instagram-color {
  background:

   linear-gradient( #400080, transparent),

 linear-gradient(
   200deg, #d047d1, #ff0000,    #ffff00);
}

.social-icons a{
  padding: 7px;
  font-size: 19px;
  width: 36px;
  text-align: center;
  text-decoration: none;
  margin: 6px 0px;
  border-radius: 8px;
}

.social-icons a:hover {
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

.fa-instagram {
  color: white;
}
.fa-get-pocket {
  color: white;
  background-color: #D33A4E;
}

/* ------------------------------ */

.insta-modal .modal-body {
  padding: 0px;
}